body {
    font-family: 'Playfair Display', serif;
}

#hero {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 10em;
    margin-bottom: 10em;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    line-height: 2em;
}

.headline {
    text-align: center;
    margin-bottom: 4em;
}

.markdown, main {
    max-width: 768px;
    margin: 0 auto;
}

.markdown h1 {
    font-size: 3rem;
    font-weight: 600;
}
.markdown h2 {
    font-size: 2.5rem;
    font-weight: 600;
}
.markdown h3 {
    font-size: 2rem;
    font-weight: 600;
}   

nav ul li {
    display: block;
}

nav a {
    text-decoration: none;
    padding: 2em 2em;
    display: block;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
}

nav {
    display: flex;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

.markdown > * + * {
    margin-top: 1em;
}