body {
    font-family: 'Montserrat', sans-serif;
    background-color: #dce0d9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23595959' fill-opacity='0.08'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

#hero {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 10em;
    margin-bottom: 10em;
    letter-spacing: 0em;
    font-weight: 600;
}

#hero h2 {
    color: #353535;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
    line-height: 2em;
}

.headline {
    text-align: center;
    margin-bottom: 4em;
}

.markdown, main {
    max-width: 768px;
    margin: 0 auto;
}

.markdown h1 {
    color: #653239;
    font-size: 3rem;
    font-weight: 600;
}
.markdown h2 {
    font-size: 2.5rem;
    font-weight: 600;
}
.markdown h3 {
    font-size: 2rem;
    font-weight: 600;
}   

nav ul li {
    display: block;
}

nav a {
    text-decoration: none;
    padding: 2em 2em;
    display: block;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
}

nav a:hover  {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
}

main {
    margin-top: 4em;
}

.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.split img {
    width: 100%;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-link {
    border: 2px solid black;
    padding: 0.75em 1.5em;
    margin: 0 2em;
}

.button-link:hover {
    background-color: black;
    color: white;
}

.markdown > * + * {
    margin-top: 1em;
}

.markdown > h1 + * {
    margin-top: 4em;
}

.markdown ul {
    margin-left: 2em;
    list-style-type: disc;
}

.markdown li {
    margin-top: 0.75em;
}

.markdown p {
    font-size: 20px;
    line-height: 1.25;
}

.projects {
    margin-bottom: 4em;
}
