{{ define "main" }}
<article class="flex flex-col pt-32 pb-16">
    <div class="markdown max-w-3xl mx-auto px-4 z-20 w-full">
        <h1>{{ .Title }}</h1>
        {{ $imgName := .Params.thumbnail}}
        {{ $original := resources.Get (print .Params.thumbnail) }}
        {{ if $original }}
        {{ $large := ($original.Fill "1200x630 jpg center q75 jpg Lanczos" )}}
        {{ $medium := ($original.Fill "900x473 jpg center q75 jpg Lanczos" )}}
        {{ $small := ($original.Fill "600x315 jpg center q75 jpg Lanczos" )}}
        <img class="object-cover w-full h-auto" src="{{ $large.Permalink }}"
            srcset="{{ $small.Permalink}} {{ $small.Width }}w, {{ $medium.Permalink}} {{ $medium.Width }}w, {{ $large.Permalink}} {{ $large.Width }}w"
            sizes="(max-width: 600px) 600px, (max-width: 900px) 900px, 1200px" loading="lazy"
            alt="{{ .Params.alt }}" width="{{ $large.Width }}" height="{{ $large.Height }}">
        {{ end }}
        {{ .Content }}
    </div>

    <div class="max-w-5xl mx-auto md:px-4">
        <h3 class="text-3xl font-semibold ml-4">Related Content</h3>
        <div class="flex flex-wrap">
            {{ $related := .Site.RegularPages.Related . | first 2 }}
            {{ with $related }}
            {{ range . }}
            <div class="w-full md:w-1/2 min-w-32">
                {{- partial "post-small-summary.html" . -}}
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</article>
{{ end }}